body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 55px;
    


}


.first-headline-border{
   
    border-left: 7px solid;
    border-image: linear-gradient(rgb(177, 9, 255) , rgb(136, 101, 61)) 30;
    border-image-slice: 1;
}
.flexible-container{
    display: flex;
    margin-bottom: 120px;
}

.purple-color{
     color: rgb(179, 32, 236);
}
.link-button{
    text-decoration: none;
    background-color:  rgb(179, 32, 236);
    padding: 10px 20px;
    border-radius: 2%;
    font-weight: 700px;
}
a{
    color: white;
}

.half-width{
    width: 50%;
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.half-width img{
    width: 70%;

    
}
.section-of-blog{
    
    padding: 20px 20px 20px 20px;
    margin: 60px 60px 60px 60px;
    border-radius: 10px;

}
#blog-1-color{
    background-color: #800080;
}
#blog-2-color{
    background-color:#d527b7  ;
}
#blog-3-color{
    background-color:#f782c2  ;
}
.image-size{
    width: 25%;
}
#blog-text-color{
    color: white;
}
#heading-align-center{
    text-align: center;
    font-size: 60px;
    
    
}
#develop-portion{
    font-size: 40px;
}
h3{
    font-size: 35px;
}
#coding-img-background{
    background-image: url(Image/shapes/shape-9.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 350px;

}
#footer-div-id{
      background-color: rgb(27, 23, 49);
}
#footer-mission{
      
    text-align: center;
    font-size: 50px;
    color: snow;
}
.fotter-2022{
    color: #cf60fc;
}
footer p{
        text-align: center;
        color: white;
}
     